@import '../../../styles/settings.scss';
@import '../../../styles/visibility.scss';

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5rem 1.6rem 10rem 1.6rem;
  max-width: 80rem;
  @media (max-width: $desktop-breakpoint) {
    //para separar las vistas, esta es especifica a movil
    height: 10rem;
    padding: 3rem 1.6rem 0 1.6rem;
  }
}

.navlink {
  text-decoration: none;
  padding: 0 2.4rem 0 0;
  &:hover {
    cursor: pointer;
  }
}

.shouldHide {
  visibility: hidden;
}

.mobileMenuButton {
  text-align: right;
}

.mobileLinks {
  position: absolute;
  left: 45vw;
  top: 5vh;
  width: 100%;
  height: 60vh;
  z-index: -1;
  padding-top: 6rem;
}

.mobileLink {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1.2rem 0 3.2rem 4rem;
}
