@use './settings.scss' as *;

.errorPage {
    margin: auto;
    text-align: center;
    padding: 15rem;
    font-size: 3rem;
    letter-spacing: 1px;
    @media (max-width: $desktop-breakpoint) {
        padding:5rem;
    }
}