@use './fonts' as *;

//fonts
$OpenSans: 'Open Sans', sans-serif; // titles
$Poppins: 'Poppins', sans-serif; //text, link
$SourceSansPro: 'Source Sans Pro', sans-serif; //alt titles
$Marcellus: 'Marcellus SC', sans-serif; // logo
//colors
$mobileMenuBackground: hsla(3, 3%, 100%, 0.8);

$red: #ff2020;
$grey: rgb(170, 170, 170);
$white: rgb(224, 224, 224);

//devsettings
$GreyToRed: invert(26%) sepia(95%) saturate(7447%) hue-rotate(358deg)
  brightness(100%) contrast(114%);
$border: 1px solid white;

//sizes
$desktop-breakpoint: 45rem;
//this is used with @media(max-width: $desktop-breakpoint){} to set styling for mobile

.showForMobile {
  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}

.showForDesktop {
  @media (max-width: $desktop-breakpoint - 0.01rem) {
    display: none;
  }
}