@use './settings.scss' as *;

.contactTitle {
  text-align: center;
  margin: 1.2rem 0;
  font-size: 36px;
  font-weight: 300;
  @media (max-width: $desktop-breakpoint) {
    font-size: 32px;
    margin: 2.4rem 0;
  }
}

.contactContent {
  margin: 6.4rem 0;
  display: flex;
  justify-content: space-around;
  @media (max-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
  }
}
.contactForm {
  margin: 0 0 0 3.2rem;
  font-family: tahoma;
  background: black;
  width: 35%;
  border: 1px solid $grey;
  box-shadow: 0 0 18px 0 $grey;
  border-radius: 6px;
  padding: 1.2rem 2.2rem 4.2rem 2.2rem;
  > form {
    margin: 2.4rem 0 1.2rem 0;
  }
  @media (max-width: $desktop-breakpoint) {
    width: 100%;
    margin: auto;
    border-radius: 8px;
    padding: 2rem 1.6rem 3.2rem 1.6rem;
  }
}
.contactFormTitle {
  font-size: 20px;
  letter-spacing: 1px;
  @media (max-width: $desktop-breakpoint) {
    font-size: 16px;
  }
}

.emailForm {
  display: flex;
  flex-direction: column;
  height: 5rem;
}
.emailInput {
  margin: 0 0 1.6rem 0;
  padding: 12px 14px;
  font-size: 14px;
  font-family: $Poppins;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid $grey;
  color: $white;
  outline: none;
  background: black;
  &:focus {
    border: 1px solid $red;
    transition: border 200ms ease-in;
    & ~ .emailLabel {
      color: $red;
      left: 12px;
      top: -80px;
      font-size: 13px;
      transition: 200ms ease all;
    }
  }
  &:not(:focus) {
    transition: border 200ms ease-in;
    & ~ .emailLabel {
      transition: 200ms ease all;
    }
    &:valid ~ .emailLabel {
      // input:not(:focus):valid ~ .emailLabel
      // style stay when user types something, when not, it doesn't
      left: 12px;
      top: -80px;
      font-size: 13px;
      transition: 200ms ease all;
    }
  }
  @media (max-width: $desktop-breakpoint) {
    border-radius: 4px;
  }
}
.emailLabel {
  color: $grey;
  background: black;
  pointer-events: none;
  position: relative;
  left: 14px;
  top: -60px;
  width: 14%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  @media (max-width: $desktop-breakpoint) {
    width: 22%;
  }
}

.messageForm {
  @extend .emailForm;
  height: 16rem;
}
.messageInput {
  @extend .emailInput;
  height: 200px;
  padding: 16px 14px;
  resize: none;
  &:focus {
    border: 1px solid $red;
    transition: border 200ms ease-in;
    & ~ .messageLabel {
      color: $red;
      left: 12px;
      top: -234px;
      font-size: 13px;
      transition: 200ms ease all;
    }
  }
  &:not(:focus) {
    transition: border 200ms ease-in;
    & ~ .messageLabel {
      transition: 200ms ease all;
    }
    &:valid ~ .emailLabel {
      left: 12px;
      top: -234px;
      font-size: 13px;
      transition: 200ms ease all;
    }
  }
  @media (max-width: $desktop-breakpoint) {
    border-radius: 4px;
  }
}
.messageLabel {
  @extend .emailLabel;
  top: -210px;
  width: 20%;
  @media (max-width: $desktop-breakpoint) {
    width: 32%;
  }
}

.contactFormBottom {
  display: flex;
  justify-content: space-between;
  > span {
    //targetting the sending message, too lazy to make another className
    font-size: 14px;
    font-weight: 300;
    font-family: $Poppins;
    width: 70%;
    @media (max-width: $desktop-breakpoint) {
      width: auto;
      text-align: center;
    }
  }
  @media (max-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: column-reverse; //i want the message below the button
  }
}
.button {
  padding: 12px 32px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid $red;
  box-shadow: 0 0 6px 0 $red;
  background: transparent;
  cursor: pointer;
  letter-spacing: 1px;
  &:hover {
    box-shadow: 0 0 9px 0 $red;
    transition: box-shadow 200ms ease-in;
  }
  &:not(:hover) {
    transition: box-shadow 200ms ease-in;
  }
  &:active {
    box-shadow: 0 0 14px 0 $red;
    padding: 12.3px 32.3px;
    outline: none;
    transition: none;
  }

  @media (max-width: $desktop-breakpoint) {
    width: auto;
    margin: 0 0 1.6rem 0;
  }
}
.contactIcons {
  display: flex;
  flex-direction: column;
  @media (max-width: $desktop-breakpoint) {
    margin: 3.2rem 0 0 0;
  }
  > svg {
    //targetting the contactimage, hacky css,
    margin: 0 0 2.4rem 0;
    @media (max-width: $desktop-breakpoint) {
      display: none;
    }
  }
  > a {
    border-left: 2px solid $red;
    margin: 1.6rem 0;
    padding: 0 0 0 1.2rem;
    font-family: tahoma;
    letter-spacing: 1px;
    display: flex; //make the text height the same as the svgs
    opacity: 0.6;
    > svg {
      //targetting contact icons
      margin: 0 0.8rem 0 0;
      width: 26px;
      height: 26px;
    }
    &:hover {
      opacity: 1;
      transition: opacity 200ms, color 200ms ease-in;
    }
  }
}
