@use './settings.scss' as *;
.footer {
  margin: 10rem auto 0 auto;
  color: $grey;
  padding: 3.2rem 1.6rem;
  font-family: $Poppins;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 400;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0, 0.45),
    rgb(118, 70, 255, 0.45),
    rgb(32, 206, 245, 0.45)
  );
  background-size: 500% 500%;
  @media (max-width: $desktop-breakpoint) {
    margin: 3.6rem 0 0 0;
    background-size: 800% 800%;
  }
}

.footerLinks {
  margin: 0 24rem 3.2rem 24rem;
  display: flex;
  justify-content: space-around;

  > span {
    // this targets each link
    margin: 0 0;
    &:hover {
      cursor: pointer;
      color: $red;
      transition: color 300ms ease-in;
    }
    &:not(:hover) {
      // for when you stop hovering
      transition: color 250ms ease-in;
    }
  }
  @media (max-width: $desktop-breakpoint) {
    margin: 0 0 2.4rem 0;
  }
}

.footerContactInfo {
  display: flex;
  justify-content: space-evenly;

  > div,
  a {
    text-decoration: none;
    color: $grey;
    display: grid;
    // make a grid
    > svg {
      margin: auto; // then center the svg
      @media (max-width: $desktop-breakpoint) {
        display: none; // no icons on mobile, would like to keep experimenting with this
      }
    }
    > span {
      margin: 1rem 0 0 0;
      text-align: center;
      @media (max-width: $desktop-breakpoint) {
        margin: 1.6rem 0 0 0;
      }
    }
  }
  @media (max-width: $desktop-breakpoint) {
    display: inline;
  }
}
