* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body,
html {
  color: white;
}

#tsparticles {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: black;
}

.content-container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 80rem;
}
