* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#tsparticles {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -99;
  /* background: linear-gradient(180deg, black, #7646ff, #20cef5); */
  /* background-size: 400% 400%; */
  background: black;
}

.content-container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 80rem;
}

/* para quitar el fondo azul que sale luego de clickear
en celulares */

input,
textarea,
button,
select,
a,
div,
span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
