* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::selection {
  background: hsla(0, 100%, 55%, 0.6);
}

/* don't like the writing cursor over texts */
body:hover {
  cursor: default;
}

canvas {
  /*particles background */
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -10;
  /* background: linear-gradient(180deg, black, #7646ff, #20cef5);
  background-size: 400% 400%; */
  background: black;
}

 .contentContainer {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 80rem;
}

/* para quitar el fondo azul que sale luego de clickear
en celulares */

input,
textarea,
button,
select,
a,
div,
span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Removing dots from all the links */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
