@use './settings.scss' as *;
.mainDiv {
  display: flex;
  justify-content: space-between;
  font-family: $OpenSans;
  margin: 3.2rem 3.2rem 0 2.4rem;
  color: white;
  @media (max-width: $desktop-breakpoint) {
    //para separar las vistas, esta es especifica a movil
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.leftContainer {
  @media (max-width: $desktop-breakpoint) {
    margin: 4.8rem auto 0 auto;
    width: auto;
  }
}
.greetings {
  letter-spacing: 0.5px;
  font-size: 24px;
  font-weight: 300;
  @media (max-width: $desktop-breakpoint) {
    //para separar las vistas, esta es especifica a movil
    margin: 0 0 2rem 0.4rem;
    font-size: 16px;
  }
}
.description {
  margin: 1.2rem 0 1.8rem 2.4rem;
  width: 32rem;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 2px;
  @media (max-width: $desktop-breakpoint) {
    margin: 1.2rem 0 2rem 1rem;
    width: 12rem;
    font-size: 42px;
  }
  > span {
    //making the 'a' invisible in mobile
    @media (max-width: $desktop-breakpoint) {
      display: none;
    }
  }
}
.smallDescription {
  width: 32rem;
  padding-left: 8rem;
  font-weight: 300;
  @media (max-width: $desktop-breakpoint) {
    font-size: 13px;
    padding-left: 2.4rem;
    width: 16rem;
  }
}
.rightContainer {
  display: flex;
  justify-content: space-between;
  > div:nth-child(1) {
    //Image in presentation
    margin: 0 5rem 0 0;
  }
}
.icons {
  margin: 0 0 9rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media (max-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: row;
    margin: 0.6rem auto 0 auto;
    width: 50%;
  }
  > a {
    @media (max-width: $desktop-breakpoint) {
      padding: 1.2rem;
    }
    > svg {
      //actual icons
      margin: 2.4rem 0 0 0;
      color: $grey; //we don't use opacity here because
      //when it will transition from 0.7 to 1, the color red
      //will change with it too making a weird red changing transition
      &:hover {
        color: $red;
        transition: color 250ms ease-in;
      }
      &:not(:hover) {
        //for when you stop hovering
        transition: color 300ms ease-in;
      }
      @media (max-width: $desktop-breakpoint) {
        margin: 2.4rem 0 0 0;
      }
    }
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.aboutMe {
  letter-spacing: 1px;
  color: white;
  max-width: 80rem;
  text-align: center;
  margin: 6rem auto 0 auto; //separator between presentation and aboutme
  @media (max-width: $desktop-breakpoint) {
    margin: 2.4rem 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.aboutMeTitle {
  margin: 0 0 3.2rem 0;
  font-weight: 700;
  font-family: $OpenSans;
  font-size: 36px;
  @media (max-width: $desktop-breakpoint) {
    border-top: 1px solid $grey; //border
    padding: 3.2rem 0;
    margin: 4.8rem 0 0 0;
    font-size: 24px;
  }
}
.aboutMeText {
  font-family: $Poppins;
  font-weight: 300;
  font-size: 14px;
  text-justify: inter-word;
  background: black;
  width: auto;
  margin: 0 16rem 12rem 16rem; //separator between about me and langs
  @media (max-width: $desktop-breakpoint) {
    margin: 0 0 7.2rem 0;
    text-align: left;
    font-size: 12px;
    background: none;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.langs {
  margin: 0 0 12rem 0; //separator between langs and recent projects
  font-family: $Poppins;
  display: flex;
  flex-wrap: wrap; //important for flex basis
  justify-content: space-between;
  color: black;
  > div {
    //icons
    font-size: 11px;
    letter-spacing: 2px;
    padding: 0 1rem 3rem 1rem;
    text-align: center;
    flex-basis: 25%;
    opacity: 0.6;
    color: white;
    &:hover {
      opacity: 1;
      transition: opacity 300ms ease-in;
    }
    &:not(:hover) {
      //for when you stop hovering
      transition: opacity 3000ms ease-in;
    }
    @media (max-width: $desktop-breakpoint) {
      color: $grey;
    }
    &:nth-child(7),
    &:nth-child(8) {
      @media (max-width: $desktop-breakpoint) {
        display: none; //angular and js icons don't appear on mobile.
      }
    }
  }
  @media (max-width: $desktop-breakpoint) {
    margin: 0 0 8rem 0; //separator between langs and recent projects in mobile
  }
}
.langsTitle {
  margin: 0 0 3rem 3.6rem;
  color: white;
  font-family: $OpenSans;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 24px;
  @media (max-width: $desktop-breakpoint) {
    margin: 0 0 4.2rem 0;
    font-size: 20px;
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////
.recentProjects {
  color: white;
  text-align: center;

  @media (max-width: $desktop-breakpoint) {
    border-top: 1px solid $grey;
  }
}
.recentProjectsTitle {
  margin: 0 0 4.2rem 0;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $OpenSans;

  @media (max-width: $desktop-breakpoint) {
    font-size: 24px;
    margin: 4.2rem 0;
  }
}
.recentProjectsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: $desktop-breakpoint) {
    justify-content: space-around; //finally centered the projects
  }
}
.recentProject {
  flex-basis: 33%;
  filter: grayscale(100%);
  opacity: 0.6;
  cursor: pointer;
  > img {
    border:1px solid $red;
    border-radius: 2px;
  }
  &:hover {
    filter: none;
    opacity: 1;
    transition: opacity 300ms, filter 300ms ease-in;
  }
  &:not(:hover) {
    transition: opacity 300ms, filter 300ms ease-in;
  }
  @media (max-width: $desktop-breakpoint) {
    margin: 0 0 3.2rem 0;
  }
}