@import './settings.scss';
@import './visibility.scss';

.mainDiv {
  display: flex;
  justify-content: space-between;
  font-family: $OpenSans;
  margin: 3.2rem 3.2rem 0 2.4rem;
  color: white;
  @media (max-width: $desktop-breakpoint) {
    //para separar las vistas, esta es especifica a movil
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.greetings {
  letter-spacing: 0.5px;
  font-size: 24px;
  font-weight: 300;
  @media (max-width: $desktop-breakpoint) {
    //para separar las vistas, esta es especifica a movil
    margin: 4.8rem 0 2.4rem 1.2rem;
    font-size: 16px;
  }
}

.description {
  margin: 1.2rem 0 1.8rem 2.4rem;
  width: 32rem;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 2px;
  @media (max-width: $desktop-breakpoint) {
    margin: 2.8rem 0 1rem 2.4rem;
    width: 12rem;
    font-size: 42px;
  }
  > span {
    //making the 'a' invisible in mobile
    @media (max-width: $desktop-breakpoint) {
      display: none;
    }
  }
}

.smallDescription {
  width: 32rem;
  padding-left: 8rem;
  font-weight: 300;
  @media (max-width: $desktop-breakpoint) {
    font-size: 12px;
    padding-left: 3rem;
    width: 16rem;
  }
}

.rightContainer {
  display: flex;
  justify-content: space-between;
}

.mainImage {
  margin: 0 5rem 0 0;
}

.icons {
  margin: 0 0 9rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media (max-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 50%;
  }
}

.githubIcon,
.linkedInIcon,
.mailIcon {
  margin: 1.2rem 0 0 0;
  opacity: 0.75;
  &:hover {
    filter: invert(26%) sepia(95%) saturate(7447%) hue-rotate(358deg)
      brightness(100%) contrast(114%);
    opacity: 1;
    transition: filter 300ms, opacity 300ms ease-in;
  }
  &:not(:hover) {
    //for when you stop hovering
    transition: filter 300ms ease-in;
  }
  @media (max-width: $desktop-breakpoint) {
    margin: 2.4rem 0 0 0;
    padding: 1.2rem 1.2rem 0 1.2rem;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.aboutMe {
  color: white;
  max-width: 80rem;
  margin: 8rem auto 0 auto; //separator between presentation and aboutme
  @media (max-width: $desktop-breakpoint) {
    //para separar las vistas, esta es especifica a movil
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.aboutMeTitle {
  margin: 0 0 3.2rem 0;
  font-weight: 700;
  font-family: $OpenSans;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
}

.aboutMeText {
  font-family: $Poppins;
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  margin: 0 16rem 12rem 16rem; //separator between about me and langs
  letter-spacing: 1px;
  @media (max-width: $desktop-breakpoint) {
    display: none; // FIX THIS WHEN APPLICATING THE CORRECT TEXT
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.langs {
  margin: 0 0 16rem 0; //separator between langs and recent projects
  font-family: $Poppins;
  display: flex;
  flex-wrap: wrap; //important for flex basis
  justify-content: space-between;
  color: black;
}
.langsTitle {
  margin: 0 0 3rem 3.6rem;
  color: white;
  font-family: $OpenSans;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 24px;
}

.langIcon {
  font-size: 10px;
  letter-spacing: 2px;
  padding: 0 1rem 3rem 1rem;
  color: black;
  text-align: center;
  flex-basis: 25%;
  opacity: 0.6;
  &:hover {
    color: white;
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  &:not(:hover) {
    //for when you stop hovering
    transition: opacity 300ms, color 300ms ease-in;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////

.recentProjects {
  color: white;
  text-align: center;
}

.recentProjectsTitle {
  margin: 0 0 4.2rem 0;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $OpenSans;
}

.recentProjectsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: $desktop-breakpoint) {
    justify-content: space-around;
    //para separar las vistas, esta es especifica a movil
  }
}

.recentProject {
  margin: 0 0 2.4rem 0;
  flex-basis: 33%;
  filter: grayscale(100%);
  opacity: 0.6;

  &:hover {
    filter: none;
    opacity: 1;
    transition: opacity 300ms, filter 300ms ease-in;
  }
  &:not(:hover) {
    transition: opacity 300ms, filter 300ms ease-in;
  }
}
