@use './settings.scss' as *;

.projectsTitle {
  text-align: center;
  margin: 1.2rem 0;
  font-size: 36px;
  font-weight: 400;
  @media (max-width: $desktop-breakpoint) {
    font-size: 32px;
    margin: 2.4rem 0;
  }
}
.projectsContent {
  margin: 12rem 0 0 0;
  @media (max-width: $desktop-breakpoint) {
    margin: 6.4rem 0;
  }
}

.projectCard {
  margin: 4.8rem 0;
  display: flex;
  @media (max-width: $desktop-breakpoint) {
    display: grid;
  }
}

.projectCardLeft {
  overflow: hidden; // to avoid the expanding image get out of the box
  flex: 1 1 0; //fix sizing in desktop
  text-align: right;
  @media (max-width: $desktop-breakpoint) {
    overflow: visible;
  }
}
.projectPicture {
  > a {
    > img {
      //style the img
      border-radius: 4px;
      @media (max-width: $desktop-breakpoint) {
        width: 100%;
      }
    }
    &:hover {
      > img {
        transform: scale(1.07);
        transition: transform 700ms ease;
      }
      > .projectTech {
        transition: opacity 200ms;
      }
    }
    &:not(:hover) {
      > img {
        transition: transform 700ms ease;
      }
      > .projectTech {
        transition: opacity 4000ms;
      }
    }
  }
}

.projectTech {
  padding: 0.15rem 0;
  text-align: center;
  position: relative;
  opacity: 0.7;
  top: -35px;
  background: black;
  > svg {
    width: 28px;
    height: 28px;
  }
}

.projectCardRight {
  flex: 1 1 0;
  font-family: $SourceSansPro;
  margin: 0.6rem 0 0 4.8rem;
  @media (max-width: $desktop-breakpoint) {
    margin: 1.4rem 0 0 0;
  }
}

.projectTitle {
  font-size: 36px;
  font-weight: 400;
  @media (max-width: $desktop-breakpoint) {
    font-size: 30px;
  }
}
.projectDescription {
  font-family: $Poppins;
  margin: 1.2rem 0 1.8rem 0; //space between title, desc and url
  font-size: 16px;
  color: $grey;
  word-break: break-word;
  width: 65%;
  background: black; //want this text cleared of stars
  @media (max-width: $desktop-breakpoint) {
    text-align: left;
    width: 100%;
  }
}

.projectLinks {
  display: flex;
  justify-content: space-between;
  width: 30%;
  @media (max-width: $desktop-breakpoint) {
    width: 100%;
    justify-content: space-around;
  }
}

.projectUrl {
  font-family: $Poppins;
  font-size: 12.5px;
  letter-spacing: 5px;
  text-decoration: none;
  opacity: 0.8;
  font-weight: 600;
  background: black; //want this text cleared of stars
  &:hover {
    opacity: 1;
    color: $red;
    transition: color 250ms ease-in, opacity 250ms ease-in;
  }
  &:not(:hover) {
    transition: color 250ms ease-in, opacity 250ms ease-in;
  }
}

.projectRepo {
  @extend .projectUrl;
  letter-spacing: 4px;
  &:hover {
    color: #6e87f8;
    transition: color 250ms ease-in;
  }
  &:not(:hover) {
    transition: color 250ms ease-in;
  }
}

.projectSeparator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #161616, $grey, #161616);
}
